@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(15, 15, 255);
}

body {
  font-family: "Poppins", sans-serif;
}
input {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
